/*
* FONTS
*/
/*noinspection CssUnknownTarget*/
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
    font-family: "Raleway", sans-serif;
    color: var(--fontColor);
    margin: 0;
    padding: 0;
}

/*
* COLORS
*/
:root {
    --accentColor: #ffffff;
    --backgroundColor: rgba(2, 2, 2, 0.9);
    --fontColor: white;
    --color1: #25aae2;
    /* --color1: rgba(37, 170, 226, 0.5); */
    --color2: #2e3192;
    /* --color2: rgba(46, 49, 146, 0.8); */
    --errorMessage: #af0202;
}

header {
    text-align: center;
    background-color: var(--accentColor);
    font-size: larger;
    outline: 1px solid black;
}

.navbar {
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar img {
    vertical-align: middle;
    width: 100px;
    height: 50px;
    margin: 0 20px 0 20px;
}

.navbar-title {
    color: var(--color1);
    flex-grow: 1;
    text-align: left;
    font-size: 55px;
    font-weight: bold;
}

.navbar-user {
    font-size: 16px;
    color: black;
}

.navbar-logout {
    background-color: black;
    color: #fff;
    border: none;
    padding: 8px 16px;
    margin: 0 0 0 20px;
    font-size: 14px;
}

body {
    background-color: var(--backgroundColor);
    overflow: hidden;
}

main {
    display: flex;
}

.item {
    height: 94vh;
}

#contacts {
    overflow: scroll;
    width: 15%;
    border-right: 1px solid black;
    flex-grow: 1;
    min-width: 250px;
}

.contact {
    height: 10vh;
    border-bottom: 1px solid var(--color2);
    background-color: var(--color1);
    transition: background-color 0.3s ease;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}
.contact:hover {
    background-color: var(--color2);
    color: white;
}
.contact:active {
    background-color: var(--fontColor);
}
/* .contact:nth-child(odd) {
    background-color: var(--color2);
}
.contact:nth-child(even) {
    background-color: white;
} */

#messages {
    height: 80vh;
    width: 85%;
    flex-grow: 8;
}

#chat {
    overflow: scroll;
    height: 90vh;
}

.received {
    float: left;
    border-radius: 10px 10px 10px 2px;
    background-color: var(--color2);
}

.sent {
    float: right;
    border-radius: 10px 10px 2px 10px;
    background-color: var(--color1);
}

.msg-box {
    width: 50%;
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
    font-size: medium;
}

#send-box {
    position: sticky;
    bottom: 5px;
    display: flex;
    width: auto;
    height: auto;
    margin: 5px 10px 0 10px;
    border: 1px solid black;
    border-radius: 5px;
}

#write {
    flex-grow: 1;
}

textarea {
    width: 100%;
    height: 2em;
    font-size: medium;
    float: left;
    padding: 2px;
    border: none;
    resize: none;
    border-radius: 5px 0 0 5px;
}

textarea:focus {
    outline: none;
}

#send-button {
    height: 100%;
    width: 40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    border-left: 1px solid black;
    background-color: var(--color1);
}

@media (max-width: 450px) {
    #messages {
        display: none;
        visibility: hidden;
    }

    .contact {
        background-color: var(--backgroundColor);
    }
}
