/* BODY */
html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--backgroundColor);
    overflow: hidden;
}

header {
    flex-grow: 1;
    background-color: var(--backgroundColor);
    outline: 1px solid #000000;
}

main {
    height: 100%;
    display: flex;
    overflow: hidden;
}

/* NAVBAR */
#navbar {
    color: var(--darkFontColor);
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

#back-arrow {
    width: 1.5rem;
    height: 1.5rem;
    display: none;
    cursor: pointer;
    margin: 0 0.42rem 0 0.42rem;
}
#navbar-logo {
    vertical-align: middle;
    width: 100px;
    height: 50px;
    margin: 0 1rem 0 0.5rem;
}

#navbar-title {
    color: var(--darkBlue);
    flex-grow: 1;
    font-size: 3rem;
    font-weight: bold;
}

#button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}
.navbar-item {
    margin: 0 0.5rem;
}

/* ADD FRIEND POPUP */
#add-friend {
    width: 80%;
    max-width: 1000px;
}

#add-friend h2 {
    text-align: center;
    font-size: 3rem;
    line-height: 3rem;
    margin: 5rem;
    color: var(--darkBlue);
}

#relation-form {
    display: flex;
    flex-direction: column;
    margin: 3rem;
    align-items: center;
}

.validation-error {
    visibility: hidden;
    color: var(--errorMessage);
}

#relation-form input[type='email'] {
    font-size: 1.5rem;
    line-height: 1.5rem;
    border: none;
    border-bottom: 1px solid var(--lightBlue);
    margin-bottom: 1rem;
    padding: 0.2rem;
    width: 100%;
    resize: none;
}

#relation-form textarea {
    font-size: 1.5rem;
    line-height: 1.5rem;
    border: none;
    background-color: #eeeeee;
    border-left: 1px solid var(--lightBlue);
    margin: 2rem 0;
    padding: 0.5rem 0.2rem;
    width: 100%;
    max-height: 20rem;
    overflow: hidden;
    resize: none;
}

#relation-form input[type='submit'] {
    font-size: 1.5rem;
    align-self: end;
    padding: 0.5em 1em 0.5em 1em;
}

/* CONTACTS */
#contacts {
    max-width: 30rem;
    width: 20%;
    min-width: 12rem;
    overflow: scroll;
    border-right: 1px solid black;
}

#contacts-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    background-image: linear-gradient(to right, var(--lightBlue), var(--darkBlue));
}

#contacts-header-title {
    font-size: 1.5rem;
    margin-left: 1rem;
}

#contacts-refresh-button {
    margin-right: 1rem;
    height: 2rem;
    width: 2rem;
}

.accepted-contact {
    height: 5rem;
    border-bottom: none;
    background-image: linear-gradient(to right, var(--backgroundColor), var(--darkBlue));
    background-size: 200% 100%;
    transition: all 0.1s linear;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.accepted-contact:hover {
    background-position: -100% 0;
    color: #ffffff;
    cursor: pointer;
}

.accepted-contact:active {
    background-color: var(--backgroundColor);
}

.pending-contact {
    height: 5rem;
    border-bottom: none;
    background-image: linear-gradient(to right, #eeeeee, #000000);
    background-size: 200% 100%;
    transition: all 0.1s linear;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.pending-contact:hover {
    background-position: -100% 0;
    font-size: 1.3rem;
    color: #ffffff;
    cursor: pointer;
}

.pending-contact:active {
    background-color: var(--backgroundColor);
}

/* MESSAGES */
#messages {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        180deg,
        rgba(187, 187, 187, 1) 25%,
        rgba(204, 204, 204, 1) 50%,
        rgba(221, 221, 221, 1) 75%,
        rgba(238, 238, 238, 1) 100%
    );
}

#messages-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(200, 200, 200, 0.5);
    backdrop-filter: blur(2px);
    z-index: 1000;
}

#helper-text {
    text-align: center;
    padding: 2rem;
    margin: 0 2rem;
    border-radius: 0.2rem;
    background-color: var(--darkBlue);
    z-index: 1001;
}

#helper-text h2 {
    color: var(--lightFontColor);
    font-size: 3rem;
    line-height: 3rem;
    padding: 1rem;
    z-index: 1002;
}

#helper-text p {
    color: var(--lightFontColor);
    padding: 1rem;
    z-index: 1002;
}

#messages-header {
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 1.5rem;
    background-color: var(--backgroundColor);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#messages-header button {
    height: 2rem;
    width: 2rem;
}

#messages-trash-button {
    margin-right: 0.25rem;
}

#messages-refresh-button {
    margin-left: 0.25rem;
}

#chat {
    position: relative;
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.msg-box {
    max-width: 50%;
    margin: 0.5rem 1rem;
    padding: 1rem;
    border: none;
    color: var(--lightFontColor);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.received {
    align-self: flex-start;
    border-radius: 10px 10px 10px 2px;
    background-color: var(--darkBlue);
}

.sent {
    align-self: flex-end;
    border-radius: 10px 10px 2px 10px;
    background-color: var(--lightBlue);
}

/* DELETE RELATION DIALOG */
#confirm-relation-delete {
    width: 80%;
    height: 21rem;
    max-width: 1000px;
    text-align: center;
}

#confirm-relation-delete h2 {
    color: var(--darkBlue);
    font-size: 3rem;
    line-height: 3rem;
    margin: 3rem;
}

#confirm-relation-delete p {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin: 3rem 2rem 0 2rem;
}

#confirm-relation-delete button {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin: 3rem;
}

#confirm-relation-delete-no:hover {
    background-color: var(--red);
    margin: 2rem;
    padding: 1.5rem 2rem;
}

#confirm-relation-delete-yes:hover {
    background-color: var(--green);
    margin: 2rem;
    padding: 1.5rem 2rem;
}

/* SEND BOX */
#send-box {
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    bottom: 0;
    height: 4rem;
    max-height: 20rem;
    width: calc(100% - 2rem);
    margin: 0.5rem 1rem 1rem 1rem;
    border: none;
    border-radius: 0.2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

#send-box textarea {
    font-size: 1rem;
    line-height: 1rem;
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 0.2rem;
    padding: 1.5rem 4rem 1.5rem 0.5rem;
    border: none;
    overflow-y: scroll;
    resize: none;
}

#send-button {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    top: 0.5rem;
    border: none;
    border-radius: 0.2rem;
    padding: 0.5rem 0.5rem 0.3rem 0.3rem;
    transition: background-color 0.3s ease;
    background-color: black;
    fill: white;
}

#send-button img {
    height: 2rem;
    width: 2rem;
}

#send-button:hover {
    background-color: var(--lightBlue);
    cursor: pointer;
}

/* ACCEPT RELATION BANNER */
.relation-pending {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    margin: 0.2rem 0;
    text-align: center;
    color: var(--lightFontColor);
}

.relation-pending-message {
    color: var(--lightFontColor);
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: bold;
}

#accept-relation-banner {
    background: linear-gradient(to left, var(--lightBlue), var(--darkBlue));
}

#relation-sent-banner {
    background-image: linear-gradient(to left, #aaaaaa, #555555);
}

#accept-relation-banner-message {
    margin: 2rem 0 1rem 0;
}

#relation-sent-banner-message {
    margin: 2rem 0;
}

#accept-relation-banner-buttons button {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin: 2rem;
    transition: all 0.1s linear;
}

#accept-relation-banner-yes:hover {
    padding: 1rem 1.5rem;
    margin: 1.5rem;
    background-color: var(--green);
}

#accept-relation-banner-no:hover {
    padding: 1rem 1.5rem;
    margin: 1.5rem;
    background-color: var(--red);
}

/* RESPONSIVE DESIGN */
@media (max-width: 800px) {
    #navbar-title {
        display: none;
    }

    #navbar-logo {
        width: 3rem;
        height: 1.5rem;
        margin: 0;
    }

    #navbar {
        justify-content: center;
        gap: 1rem;
    }
    .navbar-item {
        justify-content: flex-end;
        margin: 0 0.5rem;
    }

    #add-friend h2 {
        font-size: 2.5rem;
        margin: 3rem
    }
    #relation-form #add-friend-email {
        font-size: 1rem;
    }
    #relation-form #request-message {
        font-size: 1rem;
    }
    #relation-form #send-relation {
        font-size: 1rem;
    }
}

@media (max-width: 500px) {
    #add-friend h2 {
        font-size: 2rem;
        line-height: 2rem;
    }
    #relation-form #add-friend-email {
        font-size: 1rem;
    }
    #relation-form #send-relation {
        font-size: 1rem;
    }
}
