/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

/* ALL */
* {
    font-family: "Raleway", sans-serif;
    color: var(--darkFontColor);
    margin: 0;
    padding: 0;
}

/* COLORS */
:root {
    --darkBlue: #2e3192;
    --lightBlue: #25aae2;
    --backgroundColor: #ffffff;
    --buttonColor: #000000;
    --lightFontColor: #ffffff;
    --darkFontColor: #000000;
    --errorMessage: #af0202;
}

/* HTML */
html {
    background-color: var(--backgroundColor);
}

/* BODY */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
}
footer {
    background-color: var(--lightBlue);
    padding: 2em;
    text-align: justify;
    font-size: 1em;
}
footer * {
    color: var(--lightFontColor);
}

/* NAVBAR */
header nav {
    display: flex;
    padding: 0 1% 0 1%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--lightBlue);
}
nav img {
    width: 40px;
    height: 40px;
}
.nav-links {
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

/* TITLE */
.title {
    text-align: center;
    margin-top: 0.5em;
}

.title h1 {
    font-size: 7.5em;
    color: var(--darkBlue);
}

.title p {
    font-size: 1.5em;
    margin: 10px 0 20px 0;
    color: var(--lightBlue);
}

/*
* FORMS
*/
.sign-in-up {
    text-align: center;
    padding-top: 0;
}

.row {
    margin-top: 1%;
    display: flex;
    justify-content: space-around;
}

.row h2 {
    text-align: center;
    font-size: 2em;
    font-weight: inherit;
    margin-top: 1em;
    margin-bottom: 0.5em;
    color: var(--darkBlue);
}
.row .input-div {
    margin-bottom: 0.5em;
}
.row label,
input {
    margin-left: 15%;
    font-size: 1em;
}
.row input:not([type="submit"]) {
    width: 70%;
    height: 30px;
    padding-left: 5px;
    border: none;
    border-bottom: 1px solid var(--lightBlue);
    border-left: 1px dashed var(--lightBlue);
    border-bottom-left-radius: 5px;
}
.row input:focus {
    outline: none;
}
.row input[type="submit"] {
    width: 80px;
    height: 25px;
    margin-right: 15%;
    float: right;
    border: none;
    border-radius: 5px;
    color: var(--lightFontColor);
    background-color: var(--buttonColor);
    transition: background-color 0.3s ease;
}
.row input[type="submit"]:hover {
    background-color: var(--lightBlue);
}
.item {
    width: 50%;
    margin-bottom: 2em;
}

.sign-in {
    border-right: 1px solid var(--darkBlue);
}

.sign-up {
    border-left: 1px solid var(--darkBlue);
}

/* Errors */
.validation-error {
    visibility: hidden;
    color: var(--errorMessage);
    font-size: 0.75em;
    width: 70%;
    margin-left: 15%;
    padding-bottom: 1em;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    nav img {
        width: 30px;
        height: 30px;
    }

    .title {
        margin-top: 1.5em;
    }

    .title h1 {
        font-size: 6em;
    }

    .title p {
        font-size: 1.25em;
    }

    .row {
        flex-direction: column;
    }

    .item {
        width: 100%;
    }

    .sign-in {
        border: none;
    }

    .sign-up {
        border: none;
    }

    footer {
        font-size: 0.75em;
    }
}
