/* HTML */
html {
    background-color: var(--backgroundColor);
}

/* BODY */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    background-color: var(--lightBlue);
    padding: 2rem;
    text-align: justify;
}

footer * {
    color: var(--lightFontColor);
}

/* NAVBAR */
header nav {
    display: flex;
    padding: 0 1% 0 1%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--lightBlue);
}

nav img {
    width: 3rem;
    height: 3rem;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 1rem;
    position: relative;
}

/* TITLE */
.application-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 7rem;
    margin-bottom: 3rem;
    height: auto;
}

.application-title h1 {
    margin: 2rem;
    font-size: 7.5em;
    color: var(--darkBlue);
}

.application-title p {
    font-size: 1.5em;
    margin: 4rem;
    color: var(--lightBlue);
}

/*
* FORMS
*/
.sign-in-up {
    text-align: center;
    padding-top: 0;
}

.row {
    margin-top: 1%;
    display: flex;
    justify-content: space-around;
}

.row h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: inherit;
    margin-top: 1rem;
    margin-bottom: 0.5em;
    color: var(--darkBlue);
}

.row .input-div {
    margin-bottom: 0.5rem;
}

.row label,
input:not([type="submit"]) {
    margin-left: 15%;
    font-size: 1rem;
}

.row input:not([type="submit"]) {
    width: 70%;
    height: 2rem;
    padding: 0.1rem 0.4rem;
    border: none;
    border-bottom: 1px solid var(--lightBlue);
    border-left: 1px dashed var(--lightBlue);
    border-bottom-left-radius: 0.4rem;
}

.row input:focus {
    outline: none;
}

.row input[type="submit"] {
    margin-right: 15%;
}

.item {
    width: 50%;
    margin-bottom: 2em;
}

.sign-in {
    border-right: 1px solid var(--darkBlue);
}

.sign-up {
    border-left: 1px solid var(--darkBlue);
}

/* Errors */
.validation-error {
    visibility: hidden;
    color: var(--errorMessage);
    font-size: 0.75rem;
    width: 70%;
    margin-left: 15%;
    padding-bottom: 1rem;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    nav img {
        width: 2rem;
        height: 2rem;
    }

    .application-title {
        margin-top: 1.5rem;
    }

    .application-title h1 {
        font-size: 6rem;
    }

    .application-title p {
        font-size: 1.25rem;
    }

    .row {
        flex-direction: column;
    }

    .item {
        width: 100%;
    }

    .sign-in {
        border: none;
    }

    .sign-up {
        border: none;
    }

    footer {
        font-size: 0.75rem;
    }
}
