/*
* Form and About div
*/

/*
* COLORS
*/
:root {
  --accentColor: #403234;
  --backgroundColor: #79031D;
  --fontColor: #F7F1F0;
  --color1: #687477;
  --color2: #A15C38;
  /* --accentColor: #6f1d1b;
  --backgroundColor: #bb9457;
  --fontColor: #432818;
  --color1: #99582a;
  --color2: #ffe6a7; */
}

/*
* FLEXBOX
*/
.mainContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  background: linear-gradient(#000, #000) no-repeat center/2px 100%;
}
.mainContainer h2 {
  text-align: center;
  font-size: 2.5em;
  color: var(--fontColor);
}
.item {
  flex-grow: 1;
  flex-basis: 30%;
  margin: 0 10em 0 10em;
  text-align: justify;
}

/*
* FORM FIELDS
*/
.inputField {
  width: 100%;
  border-radius: .5em;
}
input[type="submit"] {
  width: 5em;
  text-align: center;
  border-radius: .3em;
}
.login > a {
  float: right;
  color: var(--fontColor);
}