/*
* Form and About div
*/

.split {
  background: linear-gradient(#000, #000) no-repeat center/2px 100%;
}

.login, .about{
  width: 50%;
  position: fixed;
}
.split h2 {
  font-size: 2.5em;
}

.login {
  left: 0;
  max-width: 30%;
  margin: 0 7em 0 13em;
}
.login > form > h2 {
  text-align: center;
}
.login > form > .inputField {
  width: 100%;
  border-radius: .5em;
}
.login > form > input[type="submit"] {
  width: 5em;
  text-align: center;
  border-radius: .3em;
}
.login > form > a {
  float: right;
}

.about {
  right: 0;
  max-width: 30%;
  margin: 0 13em 0 7em;
}
.about > h2 {
  text-align: center;
}
.about > p {
  text-align: justify;
}