/*
* Form and About div
*/

main > div {
  margin: 3em 10em 0 10em;
  display: flex;
}

main > div > #login {
  width: 50%;
}
main > div > #login > form > h2 {
  text-align: center;
}
main > div > #login > form > input {
  text-align: center;
}

main > div > #about {
  width: 50%;
  text-align: justify;
  padding: 0 5em 0 5em;
}
main > div > #about > h2 {
  text-align: center;
}
