/*
* FONTS
*/
@import url("https://fonts.googleapis.com/css?family=Raleway");

* {
  font-family: Raleway;
}

/*
* COLORS
*/
:root {
  --accentColor: #6f1d1b;
  --backgroundColor: #bb9457;
  --fontColor: #432818;
  --color1: #99582a;
  --color2: #ffe6a7;
}

html {
  background-color: var(--backgroundColor);
}

header > #topBar {
  text-align: right;
}

header > #topBar > a > img {
  width: 2em;
  height: 2em;
}

main > #title {
  margin: 0 auto 0 auto;
  background-color: black;
  color: green;
  width: fit-content;
  font-size: 3.5em;
}

.form-register > input{
  margin-bottom: 2em;
  border: none;
  border-bottom: 1px solid black;
  height: 2em;
}
