/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

/* DEFAULTS */
* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: "Raleway", sans-serif;
    color: var(--darkFontColor);
    line-height: 1rem;
    vertical-align: baseline;
}

html {
    font-size: 100%;
}

::-webkit-scrollbar {
    display: none;
}

/* COLORS */
:root {
    --darkBlue: #2e3192;
    --lightBlue: #25aae2;
    --backgroundColor: #ffffff;
    --buttonColor: #000000;
    --lightFontColor: #ffffff;
    --darkFontColor: #000000;
    --errorMessage: #af0202;
    --red: #cc3223;
    --green: #008000;
}

/* BUTTONS */
input[class*="common-button"] {
    border: none;
    border-radius: 0.2rem;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: var(--lightFontColor);
    background-color: var(--buttonColor);
    transition: background-color 0.3s ease;
}

button[class*="common-button"] {
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    color: var(--lightFontColor);
    background-color: var(--buttonColor);
    transition: background-color 0.3s ease;
}

input[type="submit"] {
    float: right;
}

input[class*="common-button"]:hover,
button[class*="common-button"]:hover {
    background-color: var(--lightBlue);
}

button[class*="round-button"] {
    background-color: black;
    border-radius: 100%;
    color: var(--lightFontColor);
    transition: background-color 0.3s ease;
}

button[class*="round-button"]:hover {
    background-color: var(--lightBlue);
}