/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

/* ALL */
* {
    font-family: "Raleway", sans-serif;
    color: var(--darkFontColor);
    margin: 0;
    padding: 0;
}

/* COLORS */
:root {
    --darkBlue: #2e3192;
    --lightBlue: #25aae2;
    --backgroundColor: #ffffff;
    --buttonColor: #000000;
    --lightFontColor: #ffffff;
    --darkFontColor: #000000;
    --errorMessage: #af0202;
}

/* BUTTONS */
input[class*="common-button"],
button[class*="common-button"] {
    font-size: 0.8rem;
    border: none;
    border-radius: 0.2rem;
    color: var(--lightFontColor);
    background-color: var(--buttonColor);
    transition: background-color 0.3s ease;
}
input[type="submit"] {
    font-size: 1.2rem;
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
    float: right;
}
input[class*="common-button"]:hover,
button[class*="common-button"]:hover {
    background-color: var(--lightBlue);
}
